<ion-tabs>


  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="salelist" (click)="navSalelist()">
      <ion-icon name="salelist"></ion-icon>
      <span class="fal fa-2x fa-bags-shopping fa-fw"></span>
      <!-- <ion-label>Sale</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="alluser" (click)="navAlluser()">
      <ion-icon name="alluser"></ion-icon>
      <span class="fal fa-2x fa-head-side fa-fw"></span>
      <!-- <ion-label>Customers</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="master" (click)="navMaster()">
      <ion-icon name="master"></ion-icon>
      <span class="fal fa-2x fa-crown fa-fw"></span>
      <!-- <ion-label>Price</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="notification" (click)="navNotification()">
      <ion-icon name="notification"></ion-icon>
      <span class="fal fa-2x fa-concierge-bell fa-fw"></span>
      <!-- <ion-label>Notif</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="user" (click)="navUser()">
      <ion-icon name="user"></ion-icon>
      <span class="fal fa-2x fa-user-alt fa-fw"></span>
      <!-- <ion-label>Notif</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
