@-webkit-keyframes fadeLoop{
	0%{
		opacity: 1;
		background-color: #aaa;
		width: 0;
	}
	25%{
		background-color: #aaa;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0.8;
		background-color: #509;
		width: 100%;
	}
}





.background-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	ul.menus{
		margin: 30px 0 0;
		padding: 0;
		li{
			display: flex;
			padding: 2px 0;
			.icon{
				padding-top: 2px;
				&.fa-check{
					color: #5cb85c !important;
					padding-left: 5px;
				}
			}
			.content{
				padding-left: 5px;
			}
		}
	}
	.loading{
		animation-name: fadeLoop;
		animation-duration: 1.8s;
		animation-iteration-count: infinite;
		position: absolute;
		top: 0;
		left: 0;
		content: "\0200";
		height: 2px;
	}
}
