.result-text{
	color: black;
	background-color: white;
	border-top: 1px solid #ddd;
	font-family: Google;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	margin: 0 !important;
  padding: 5px 0 8px 0;
  font-size: 14px;
}