$white: #fff !default;
$gray-dark:                 #373a3c !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;
$black: #000 !default;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

$orange-light:				#ffe580;
$orange-lighter:				#fff8d4;
$orange:				#f80;
$orange-dark:				#F90;
$purple-light:			#a7d;
$red-lighter: #f79;
$red-light: #f47;
$red: #f00;
$red-dark: #d00;
$red-darker: #b00;
$yellow: yellow;
$cyan:	#2ff;
$cyan-dark:					#00B0B0;
$blue: #22f;
$blue-light: #7af;
$blue-dark: #007;
$green: #2a2;
$green-dark:			#6a0;
$green-darker:			#470;
$green-light: #2f2;
$purple-lighter: #a9f;
$purple-light: #74d;
$purple-dark: #509;
$purple-darker: #306;
$purple: #70a;
$gray-dark: #555;
$gray-darker: #333;
$gray: #777;
$gray-light: #999;
$gray-lighter: #aaa;
$magenta: #f0c; 
$magenta-dark: #f07; 
$magenta-darker: #c05; 
$magenta-light: #f5a; 
$pink: #f5a;
$pink-dark: #f5a; 
$pink-light: #f9c; 
$pink-lighter: #fce; 