.tx-red{ color:red; }
.tx-darkred{ color:red-dark; }
.tx-darkerred{ color:red-darker; }
.tx-transparent{ color:transparent; }
.tx-green{color:#0b4;}
.tx-lightgray{color:$gray-light;}
.tx-lightergray{color:$gray-lighter;}
.tx-lightgray-imp{color:$gray-light !important;}
.tx-gray{color:$gray;}
.tx-orange{color:$orange;}
.tx-yellow{color:$yellow;}
.tx-purple{ color:$purple; }
.tx-darkpurple{ color:$purple-dark; }
.tx-darkgreen{ color:$green-darker; }
.tx-lightgreen{ color:$green-light; }
.tx-green{ color:$green; }
.tx-lightpurple{ color:$purple-light; }
.tx-yellow{ color:yellow; }
.tx-magenta{ color:$magenta; }
.tx-lightmagenta{ color:$magenta-light; }
.tx-darkmagenta{ color:$magenta-dark; }
.tx-primary{ color: $brand-primary; }
.tx-danger{ color: $brand-danger; }
.tx-warning{ color: $brand-warning; }
.tx-success{ color: $brand-success; }
.tx-info{ color: $brand-info; }
.tx-white{ color: white !important; }