<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-back-button></ion-back-button>
  	</ion-buttons>
    <ion-title>
    	<i class="fas fa-heartbeat fa-fw"></i>
    	Price Lists
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


	<div style="margin: 10px 0;">
		<table class="table">
			<thead>
				<tr>
					<th>Deskripsi</th>
					<th>Harga</th>
					<th>Updated</th>
				</tr>
			</thead>
			<tbody *ngFor="let pricelist of global.prices">
				<tr>
					<td>
						{{pricelist.title}}
						<br>
						<small><b>{{pricelist.detail}}</b></small>
					</td>
					<td class="text-xs-right">
						{{pricelist.price|number:0}}
					</td>
					<td class="text-xs-right">
						{{pricelist.updated_at}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<ion-fab-button class="fab-fixed" (click)="gotoaddprice()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

</ion-content>

  
