<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>
			<div class="logo-img">
				<img src="../assets/logo-transp/logo-contrast-100px.png" width="25px">
			</div>
			<div class="logo">
				<span class="tx-darkpurple">Jakarta</span><span class="tx-gray">Brosur</span>
			</div>
		</ion-title>
		<ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="background-wrapper">
		<div class="icon xxl">
			<i class="fal fa-bags-shopping fa-fw"></i>
			<div class="text">
				All purchase and sells are shown in this tabs. You can see all transactions by toggle the submenu on the top-right corner.
			</div>


			<ul class="text menus">
				<li>
					<i class="fal fa-list fa-fw icon"></i>
					<div class="content">
						All Pending Carts
					</div>
				</li>
				<li>
					<i class="fal fa-list fa-fw icon"></i>
					<div class="content">
						Sales Activity
					</div>
					<i class="fas fa-check fa-fw icon"></i>
				</li>
				<li>
					<i class="fal fa-bookmark fa-fw icon"></i>
					<div class="content">
						Sales Need To-Do
					</div>
				</li>
				<li>
					<i class="fal fa-filter fa-fw icon"></i>
					<div class="content">
						Sales Filter & Search
					</div>
				</li>
				<li>
					<i class="fal fa-chart-network fa-fw icon"></i>
					<div class="content">
						Join Cart <small class="fal fa-chevron-double-right"></small> Sale
					</div>
				</li>
				<li>
					<i class="fal fa-envelope-open-dollar fa-fw icon"></i>
					<div class="content">
						Our Expense & Purchase
					</div>
				</li>
			</ul>
		</div>
	</div>

</ion-content>
